.grid {
    display: flex;
    flex-wrap: wrap;
    padding: 10%;
}

.outter {
    display: flex;
    justify-content: center;
    flex: 12.5%;
    padding-bottom: 10px;

}

.card {
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.screen {

    width: 100px;
    height: 100px;
    position: absolute;
}

.hide .screen {
    background-color: black !important;

}